.projects {
  &__cards {
    flex-wrap: wrap;
    display: flex;
  }
  &__textbox {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    background: var(--main-color);
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  &__item {
    margin-right: 30px;
    margin-bottom: 30px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
  &__overlay-text {
    background-color: var(--overlay-color);
  }
  &__overlay {
    position: relative;
    width: 370px;
    height: 294px;
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }
  &__overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-color);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translatey(100%);
  }
}

.projects__overlay:hover .projects__overlay-text {
  background-color: var(--overlay-color);
  transform: translateY(0);
  opacity: 1;
}
