
.hero-section {
  background-color: var(--footer-hero-background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;


background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header_images/header_mb_img.jpg");

@media (min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
   ("../images/header_images/header_mb_img@2x.jpg");
}

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 767px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 767px) and (max-width:1199px) { 
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header_images/header_tab_img.jpg");

@media (min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
   ("../images/header_images/header_tab_img@2x.jpg");
}
    max-width: 1279px;  
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header_images/img_dec.jpg");

@media (min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
   ("../images/header_images/img_dec@2x.jpg");
}
    max-width: 1600px;  
    padding-top: 200px;
    padding-bottom: 200px; 
    background-size: cover;
    background-position: center;
  }
  &__title {
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
    padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
  &__button {
    background: var(--link-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    font-family: inherit;
    letter-spacing: 0.06em;
    color: var(--main-color);
    border: 0;
    appearance: none;
    cursor: pointer;
    padding: 10px 32px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--background-hover-color);
    }
  }
}
