
//header
.logo {
  margin-right: 276px;
  padding-top: 16px;
  padding-bottom: 16px; 
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  align-items: center;
  @media screen and (min-width: 768px) and (max-width:1199px){ 
  margin-right: 88px;
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 24px; 
  line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px; 
  font-size: 26px;
  line-height: 1.19;
  }

&__one {
  color: var(--link-color);
}
&__two {
  color: var(--modal-button-color);
}
}
