
//header
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: center;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
&__one {
  color: var(--link-color);
}
&__two {
  color: var(--modal-button-color);
}
}
