.mobile-header {
  display: block;
  &__logo {
    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    align-items: center;
  }
  &__logo-one {
    color: var(--link-color);
  }
  &__logo-two {
    color: var(--modal-button-color);
  }
  &__button {
    position: relative;
    z-index: 10;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: inherit;
    cursor: pointer;}
 &__icon{  
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    &:hover {
      fill: var(--link-color);
    }
    &:focus {
      fill: var(--link-color);
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  &.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
  }
}

.mobile-menu__container {
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  max-width: 480px;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;

  background-color: var(--main-color);
}

.mobile-nav {
  margin-bottom: auto;
  .current {
    color: var(--link-color);
  }
  &__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover,
    &:focus {
      color: var(--link-color);
    }
  }
  &__item {
    padding-bottom: 32px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}


.play_btn .menu-open {display: block;}
.play_btn .menu-close {display: none;}

.play_btn.play_btn--toggle .menu-open {display: none;}
.play_btn.play_btn--toggle .menu-close {display: block;}



.mobile-inf {
  &__list {
    padding-bottom: 32px;
  }
  &__link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
  }
  &__link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
}
.mobile-socials {
  display: inline-flex;
&__link {
    text-decoration: none;   
     font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
}
  &__item {
  

    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    padding-right: 10px;
    &:last-child {
      padding-right: 0;
    }
    &:not(:last-of-type) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}




@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile-header,
  .mobile-header__menu,
  .mobile-header__logo,
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-header,
  .mobile-header__menu,
  .mobile-header__logo,
  .mobile-menu {
    display: none;
  }
}
