.mobile-header {
  display: block;
  &__logo {
    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    align-items: center;
  }
  &__logo-one {
    color: var(--link-color);
  }
  &__logo-two {
    color: var(--modal-button-color);
  }
  &__button {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: inherit;
    cursor: pointer;
  }

  &__icon {
    &:hover {
      fill: var(--link-color);
    }
    &:focus {
      fill: var(--link-color);
    }
  }
}

  .mobile-menu {
    position: fixed;
    top: 0;
    width: 480px;
    height: 100%;
    background-color: var(--main-color);
  }

  .mobile-menu__container {
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    max-width: 480px;
    max-height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    background-color: var(--main-color);
  }

  .mobile-nav {
    margin-bottom: 302px;
    .current {
      color: var(--link-color);
    }
    &__link {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 40px;
      line-height: 1.175;
      letter-spacing: 0.02em;
      color: #212121;
      text-decoration: none;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      padding-top: 32px;
      padding-bottom: 32px;
      &:hover,
      &:focus {
      color: var(--link-color);
    }}
    &__item {
      padding-bottom: 32px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }


.mobile-inf {
    &__list {
        padding-bottom: 32px;
    }
    &__link-tel{
font-weight: 500;
font-size: 34px;
line-height: 1.176;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
    }
    &__link-mail {
font-weight: 500;
font-size: 24px;
line-height: 1.167;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
    }
}
.mobile-socials {
display: inline-flex;
    
&__link {
text-decoration: none;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
margin-right: 10px;
&:last-child {
  margin-right: 0;
}
padding-right:10px;
&:last-child {
   padding-right:0;
}
&:not(:last-of-type) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
    }
}


.mobile-menu {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--modal-button-color);
    border: 0;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--link-color);
    }
  }
  &__close {
    display: flex;
    justify-content: end;
  }}



.mobile-menu__button:hover .mobile-menu-button-close__icon,
.mobile-menu__button:focus .mobile-menu-button-close__icon {
  color: var(--link-color);
}

.mobile-menu-button-close__icon {
  fill: currentColor;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile-header,
  .mobile-header__menu,
  .mobile-header__logo,
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-header,
  .mobile-header__menu,
  .mobile-header__logo,
  .mobile-menu {
    display: none;
  }
}