.services-section {
  padding-top: 47px;
  &__title {
    margin-bottom: 50px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 370px;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
  }
  &__item {
    position: relative;
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
  }
  &__list {
    display: flex;
  }
}


