.team-section {
  background-color: var(--specials-icon-color);
  &__list {
    display: flex;
  }
  &__title {
    margin-bottom: 50px;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid initial;
    background-color: var(--main-color);
    margin-right: 30px;
    &:last-child {
      padding-right: 0;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin: 14px;
  }

  &__inf {
    padding-bottom: 16px;
    padding-top: 12px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: center;
  }
}
