:root {
    --link-color: #2196f3;
    --title-color: #212121;
    --text-color: #757575;
    --main-color: #ffffff;
    --background-color: rgba(0, 0, 0, 0.2);
    --modal-button-color: #000000;
    --background-hover-color: #188ce8;
    --border-bottom-color:#ececec;
    --specials-icon-color:#f5f4fa;
    --socials-link-color: #afb1b8;
    --footer-hero-background-color: #2f303a;
    --overlay-color: rgba(33, 150, 243, 0.9);
  }